body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kanbas .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-add-group {
    background-color: #f5f5f5 !important;
    color: #2d3b45 !important;
    border: 1px solid;
    border-color: #c7cdd1 !important;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    user-select: none;
}

.btn-add-assignment {
    background-color: #d41b2c !important;
    color: white;
    border: 1px solid;
    border-color: #c7cdd1 !important;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    user-select: none;
}

.assignment-search-input {
    all: initial;
    -webkit-font-smoothing: antialiased;
    appearance: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(45, 59, 69);
    vertical-align: baseline;
    font-size: 1rem;
    height: calc(2.25rem);
    line-height: calc(2.25rem);
    text-align: start;
    margin: 0px;
    outline: none;
    padding: 0px 0.75rem;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.text-input-layout {
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    unicode-bidi: isolate;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-flow: wrap;
}

.text-input-before-element {
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    unicode-bidi: isolate;
    flex-shrink: 0;
    padding-inline-start: 0.75rem;
}

.text-input-inner-wrapper {
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    unicode-bidi: isolate;
    flex-shrink: 1;
    min-width: 0.0625rem;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.text-input-input-layout {
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    unicode-bidi: isolate;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}

.form-field-layout {
    all: initial;
    min-width: 0px;
    direction: inherit;
    text-align: start;
    opacity: inherit;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    margin: 0px;
}

.grid {
    display: block;
}

.grid-row {
    display: block;
    box-sizing: border-box;
}

.text-input-facade {
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 0.0625rem solid rgb(199, 205, 209);
    border-radius: 0.25rem;
    background: rgb(255, 255, 255);
    color: rgb(45, 59, 69);
}

.header-controls {
    flex: 0 0 auto;
    display: flex;
    align-self: center;
}

.pill {
    padding: 0.25em 0.75em;
    list-style: none;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 1px 0 #fff;
}

.ig-info {
    overflow-wrap: break-word;
    flex: 1;
    min-width: 1px;
    margin: 0 12px;
}

.ig-title {
    box-sizing: border-box;
    font-weight: bold;
    padding-right: 12px;
    line-height: 1.3;
    margin-bottom: 3px;
    min-width: 1px;
}

.ig-details {
    font-size: 0.75rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.ig-details-item {
    white-space: nowrap;
}

.screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    transform: translatez(0);
}

.wd-assignment-list-item {
    border-left: 3px solid green !important;
    display: flex;
    justify-content: space-between; /* Keeps the LessonControlButtons on the right */
    align-items: center;
}

.no-link-style {
    color: black;
    text-decoration: none;
    cursor: default;
}

.bg-assignment {
    background-color: #f5f5f5;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    font-style: normal !important;
    line-height: 1;

}